<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<p><em>Website designed and maintained by <a href="https://www.facebook.com/amritesh.chandan">amritesh chandan</a></em></p>
		</div>
	</div>
</div>